# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment and secrets
.env
credentials.json

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
.env/
*.egg-info/
